.wateen-SansPro-bold {
  font-family: "SansPro Bold font" !important;

}

.wateen-SansPro-black {
  font-family: "SansPro Black font" !important;

}

.wateen-SansPro-extraLight {
  font-family: "SansPro ExtraLight font" !important;
}

.wateen-SansPro-light {
  font-family: "SansPro Light font" !important;
}

.wateen-SansPro-Regular {
  font-family: "SansPro Regular font" !important;
}

.wateen-SansPro-Semibold {
  font-family: "SansPro Semibold font" !important;
}

.m5 {
  margin: 5px !important;
}

.fw700 {
  font-weight: 700 !important;
}